.nav-justified > li > a, .nav-justified > li > ul > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-family: 'Abraham', sans-serif;
    font-size: 35px;
    color: white;
    text-align: center;
    background-color: #27273f;
    border-bottom: 1px solid #28283f;
}

.nav-justified > li > ul {
    background-color: transparent;
    text-align: center;
    border: none;
    border-radius: 0;
    padding: 0;
    width: 100%;
}

.nav-justified > li > ul > li > a:hover{
    background-color: #333387;
    color: white;
}

.nav-justified > li > a:hover {
    background-color: #333387;
    color: white;
}

.foot {
    border-bottom: none;
}

#foot2, #foot3 {
    font-family: 'Cylburn', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    background-color: #27273f;
}

body {
    background-color: #27273f;
}

.imagen {
    zoom: 2;

display: block;
    margin: auto;

    height: auto;
    max-height: 100%;

    width: auto;
    max-width: 100%;
}

.cuerpo{
    font-family: 'GearedSlab', sans-serif;
    font-size: 30px;
    color: black;
    text-align:justify;
    background-color: #fff;
    padding: 5%;
}

.intro {
    font-family: 'GearedSlab', sans-serif;
    font-size: 30px;
    color: #fff;
    text-align:center;
    text-shadow: #404040 2px 2px 0;
}

.intro > h1 {
    font-size: 35px;
}

.intro > p {
    font-size: 25px;
}

.intro2 > a {
    font-family: 'Liberator', sans-serif;
    font-size: 12vw;
    color: #03034c;
    text-align:center;
    text-shadow: #fff 2px 2px 0;
}

#titulo{
    font-weight: bold;
}

#firma {
    font-family: 'GrandHotel', sans-serif;
    text-align: right;
    color: #111160;
}

#srch-term{
    background-color: #dbdbdb;
    border: none;
}
.input-group {
    width: 100%;
}

#lupa {
    background-color: transparent;
    border: none;
    color: #fff;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.botones {
    background-color: #03034C;
    border: none;
    margin: 0;
    border-radius: 0;
    font-family: 'Liberator', sans-serif;
}